body {margin: 0 auto;
  max-width:800px;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;}
.muted {color: #999;}
.header {font-size: 18px; font-weight:normal;}
.yes-link {color:#39B54A;}
table {
  width: 100%;
  max-width: 800px;
  border-collapse: collapse;
}

th {
  font-weight: bold;
  font-size: 20px;
}
td, th {
  padding: 6px;
  border-bottom: 1px solid #fff;
  border-right: 2px solid #fff;
  text-align: center;
}
td.benefit {background: #C1DAE6; padding: 12px; color: #1B1464;
  width: 52%; text-align:left;
}
td.nonmember {background: #D8E9F0;
  /*padding: 20px;*/
  width: 16%;
}
td.basic {background: #CCE6F0;
  /*padding: 20px;*/
  width: 16%;
}
td.premium {background: #C0E3F0;
  /*padding: 20px;*/
  width: 16%;
}


.allbenefits {margin-top: 40px;}
td.anyone {width: auto;}
.premium i {color:#39B54A;}
td.nonmember span, td.basic span, td.premium span {
display: block;
position: relative;
margin-left: auto; margin-right: auto;
width: 36px;
height: 44px;
}
.yes-text {color: #39B54A; text-indent: 0; width: 100%; width: 100% !important; height: auto !important; line-height: 44px;}
.yes {background: url("checkmark.png") 50% 50% no-repeat; background-size: 36px;}
.no {background: url("x-mark.png") 50% 50% no-repeat; background-size: 36px;}
.cell-text {text-indent: -9999px;display:block;}
.asterisk {
  /*outline: 1px solid magenta;*/
  position: absolute !important;
  width: 44px !important;
  height: 44px;
  top:0; left:0;
  text-align: right;
  font-size: 24px;
  font-weight:normal;
}

small {display:block;}



@media
only screen and (max-width: 480px)  {
  body {padding: 10px;}
  h1 {font-size: 24px;}
	/* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr {
		display: block;
	}
	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr {
		position: absolute;
		top: -9999px;
		left: -9999px;
	}

	td.benefit, td.nonmember, td.basic, td.premium {
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #fff;
		position: relative;
		padding-left: 50%;
    width: auto !important;
    /*border-right: 20px solid #fff;*/
    /*border-left: 20px solid #fff;*/
	}
  td.benefit {
		padding-left: 0;
    padding: 10px;
    font-size: 20px; font-weight:normal;
    background: #fff;
    margin-top:24px;
    /*border-right: 10px solid #fff;*/
    /*border-left: 10px solid #fff;*/
	}
  .benefit small {
    font-weight:normal; font-size: 13px;
  }
  td.nonmember span, td.basic span, td.premium span {
  height: 30px;
  }
  .yes-text {line-height: 30px;}
  .yes {background-size: 24px;}
  .no {background-size: 24px;}




	td:before {
		/* Now like a table header */
		position: absolute;
		top: 10px;
		left: 10px;
		width: 45%;
		padding-left: 20px;
		white-space: nowrap;
    line-height: 30px;
    color: #174287;
    text-align:left;
    font-size: 15px;
    /*outline: 1px solid red;*/
	}

	td:nth-of-type(2):before { content: "Non-Member"; }
	td:nth-of-type(3):before { content: "Basic"; }
	td:nth-of-type(4):before { content: "Premium"; }
}
