body {margin: 0 auto;
  max-width:800px;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;}


table.benefits {width: 100%;max-width: 800px;border-collapse: collapse;}
.benefits th {font-weight: bold;font-size: 20px;}
.benefits td, .benefits th {padding: 6px;border-bottom: 1px solid #fff;border-right: 2px solid #fff;text-align: center; vertical-align:middle;}
td.benefit {background: #C1DAE6; padding: 12px; color: #1B1464;width: 52%; text-align:left; line-height: 1.4em}
td.nonmember {background: #D8E9F0;width: 16%;}
td.basic {background: #CCE6F0;width: 16%;}
td.premium {background: #C0E3F0;width: 16%;}

.benefits sup {font-size: 16px;}
.muted {color: #999;}
.header {font-size: 18px; font-weight:normal;}
.yes-link {color:#39B54A;}
.allbenefits {margin-top: 40px;}
.footnote {font-size: 14px;}
td.anyone {width: auto;}
.anyone h3 {color:#39B54A; font-weight: normal !important;}
.premium i {color:#39B54A;}
td.nonmember span, td.basic span, td.premium span {
display: block;
position: relative;
margin-left: auto; margin-right: auto;
width: 36px;
height: 44px;
}
.yes-text {color: #39B54A; text-indent: 0; width: 100%; width: 100% !important; height: auto !important; line-height: 44px;}
.yes {background: url("images/checkmark.png") 50% 50% no-repeat; background-size: 36px;}
.no {background: url("images/x-mark.png") 50% 50% no-repeat; background-size: 36px;}
.cell-text {text-indent: -9999px;display:block;}
.asterisk {position: absolute !important;width: 44px !important;height: 44px;top:0; left:0;text-align: right;font-size: 24px;font-weight:normal;}
.benefit small {display:block; font-weight:normal; font-size: 13px; line-height: 1.3em;}



@media
only screen and (max-width: 480px)  {
  .table-header {color: #f47B28; padding: 20px 0 10px; font-size: 21px; border-bottom: 2px solid #ccc;}
	/* Force table to not be like tables anymore */
	table#benefits-matrix, #benefits-matrix thead, #benefits-matrix tbody, #benefits-matrix th,  #benefits-matrix td,  #benefits-matrix tr {
		display: block;
	}
	/* Hide table headers (but not display: none;, for accessibility) */
	#benefits-matrix thead tr {
		position: absolute;
		top: -9999px;
		left: -9999px;
	}

	#benefits-matrix td.benefit, #benefits-matrix td.nonmember, #benefits-matrix td.basic, #benefits-matrix td.premium {
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #fff;
		position: relative;
		padding-left: 50%;
    width: auto !important;
	}
  #benefits-matrix td.benefit {
		padding-left: 0;
    padding: 10px;
    font-size: 20px; font-weight:normal;
    background: #fff;
    margin-top:24px;
	}
  .benefit small {font-weight:normal; font-size: 13px;}
  td.nonmember span, td.basic span, td.premium span {height: 30px;}
  .yes-text {line-height: 30px;}
  .yes {background-size: 24px;}
  .no {background-size: 24px;}

	#benefits-matrix td:before {
		/* Now like a table header */
		position: absolute;
		top: 10px;
		left: 10px;
		width: 45%;
		padding-left: 20px;
		white-space: nowrap;
    line-height: 30px;
    color: #174287;
    text-align:left;
    font-size: 15px;
	}

	#benefits-matrix td:nth-of-type(2):before { content: "Non-Member"; }
	#benefits-matrix td:nth-of-type(3):before { content: "Basic"; }
	#benefits-matrix td:nth-of-type(4):before { content: "Premium"; }
}
